[
  {
    "name": "박강호",
    "owner": "ohgnakrap9290",
    "repo": "programmers-study"
  },
  {
    "name": "이정찬",
    "owner": "jungchan06",
    "repo": "programmers-study"
  },
  {
    "name": "허윤혁",
    "owner": "flains",
    "repo": "programmers-study"
  }
]
